<UserSettings>
   <settings>
      <!--Lighting and Effects-->
      <environmentDetail labelLocID="options:environmentdetail" settingWidget="Environment Detail Text" thumbids="optionshelp:environmentDetail_thumb" upids="optionshelp:environmentDetail_up" downids="optionshelp:environmentDetail_down" low="0" medium="1" high="2" disabled="0">
         <setting locid="options:low">
            <ambientsOn type="bool" value="false"/>
            <skyboxQuality type="int" value="1"/>
         </setting>
         <setting locid="options:medium">
            <ambientsOn type="bool" value="true"/>
            <skyboxQuality type="int" value="2"/>
         </setting>
         <setting locid="options:high">
            <ambientsOn type="bool" value="true"/>
            <skyboxQuality type="int" value="2"/>
         </setting>
      </environmentDetail>
      <lightingDetail labelLocID="options:lightingdetail" settingWidget="Lighting Detail Text" thumbids="optionshelp:lightingDetail_thumb" upids="optionshelp:lightingDetail_up" downids="optionshelp:lightingDetail_down" low="0" medium="1" high="2" disabled="0">
         <setting locid="options:low"/>
         <setting locid="options:medium"/>
         <setting locid="options:high"/>
      </lightingDetail>
      <shadowDetail labelLocID="options:enableshadows" settingWidget="Shadow Detail Text" thumbids="optionshelp:shadowDetail_thumb" upids="optionshelp:shadowDetail_up" downids="optionshelp:shadowDetail_down" low="0" medium="1" high="3" disabled="0" max="3">
         <setting locid="options:off"/>
         <setting locid="options:medium"/>
         <setting locid="options:high"/>
         <setting locid="options:ultra"/>
      </shadowDetail>
      <specularEffects labelLocID="options:speculareffects" settingWidget="Specular Effects Settings Text" thumbids="optionshelp:specularEffects_thumb" upids="optionshelp:specularEffects_up" downids="optionshelp:specularEffects_down" low="0" medium="0" high="0" disabled="0" max="1">
         <setting locid="options:disable"/>
         <setting locid="options:enable"/>
      </specularEffects>
      <!--Terrain and Water-->
      <!--
      <terrainBlending labelLocID="options:terrainblending" settingWidget="Terrain Blending Text" low="0" medium="1" high="1" disabled="0" max="1">
         <setting locid="options:low"/>
         <setting locid="options:high"/>
      </terrainBlending>
      -->
      <terrainResolution labelLocID="options:terrainresolution" settingWidget="Terrain Resolution Text" thumbids="optionshelp:terrainResolution_thumb" upids="optionshelp:terrainResolution_up" downids="optionshelp:terrainResolution_down" low="0" medium="1" high="2" disabled="0">
         <setting locid="options:low"/>
         <setting locid="options:medium"/>
         <setting locid="options:high"/>
      </terrainResolution>
      <terrainTextureSize labelLocID="options:terraintexturesize" settingWidget="Terrain Texture Size Text" thumbids="optionshelp:terrainTextureSize_thumb" upids="optionshelp:terrainTextureSize_up" downids="optionshelp:terrainTextureSize_down" low="0" medium="1" high="2" disabled="0" lowmem="0">
         <setting locid="options:low"/>
         <setting locid="options:medium"/>
         <setting locid="options:high"/>
      </terrainTextureSize>
      <waterDetail labelLocID="options:waterdetail" settingWidget="Water Detail Text" thumbids="optionshelp:waterDetail_thumb" upids="optionshelp:waterDetail_up" downids="optionshelp:waterDetail_down" low="0" medium="1" high="3" disabled="0" max="3">
         <setting locid="options:low"/>
         <setting locid="options:medium"/>
         <setting locid="options:high"/>
         <setting locid="options:ultra"/>
      </waterDetail>
      <detailObjects labelLocID="options:enabledetailobjects" settingWidget="Detail Object Setting Text" thumbids="optionshelp:detailObjects_thumb" upids="optionshelp:detailObjects_up" downids="optionshelp:detailObjects_down" low="0" medium="1" high="1" disabled="0">
         <setting locid="options:off"/>
         <setting locid="options:medium"/>
         <setting locid="options:high"/>
      </detailObjects>
      <!--Objects and Animation-->
      <objectDetail labelLocID="options:objectdetail" settingWidget="Object Detail Text" thumbids="optionshelp:objectDetail_thumb" upids="optionshelp:objectDetail_up" downids="optionshelp:objectDetail_down" low="0" medium="1" high="2" disabled="0">
         <setting locid="options:low">
            <physAnimOn type="bool" value="false"/>
            <propAttachOn type="bool" value="false"/>
         </setting>
         <setting locid="options:medium">
            <physAnimOn type="bool" value="true"/>
            <propAttachOn type="bool" value="true"/>
         </setting>
         <setting locid="options:high">
            <physAnimOn type="bool" value="true"/>
            <propAttachOn type="bool" value="true"/>
         </setting>
      </objectDetail>
      <objectTextureDetail labelLocID="options:objecttexturedetail" settingWidget="Object Texture Detail Text" thumbids="optionshelp:objectTextureDetail_thumb" upids="optionshelp:objectTextureDetail_up" downids="optionshelp:objectTextureDetail_down" low="0" medium="1" high="2" disabled="0" lowmem="0">
         <setting locid="options:low">
            <textureReplaceOn type="bool" value="false"/>
         </setting>
         <setting locid="options:medium">
            <textureReplaceOn type="bool" value="true"/>
         </setting>
         <setting locid="options:high">
            <textureReplaceOn type="bool" value="true"/>
         </setting>
      </objectTextureDetail>
      <animationDetail labelLocID="options:animationdetail" settingWidget="Animation Detail Text" thumbids="optionshelp:animationDetail_thumb" upids="optionshelp:animationDetail_up" downids="optionshelp:animationDetail_down" low="0" medium="1" high="2" disabled="0">
         <setting locid="options:low"/>
         <setting locid="options:medium"/>
         <setting locid="options:high"/>
      </animationDetail>
      <!--Advanced-->
      <viewDistance labelLocID="options:viewdistance" settingWidget="View Distance Text" thumbids="optionshelp:viewDistance_thumb" upids="optionshelp:viewDistance_up" downids="optionshelp:viewDistance_down" low="0" medium="1" high="2" disabled="0">
         <setting locid="options:low"/>
         <setting locid="options:medium"/>
         <setting locid="options:high"/>
      </viewDistance>
      <maxOverheadZoom labelLocID="options:overheadcameradistance" settingWidget="Overhead Camera Distance Text" thumbids="optionshelp:maxOverheadZoom_thumb" upids="optionshelp:maxOverheadZoom_up" downids="optionshelp:maxOverheadZoom_down" low="0" medium="1" high="2" disabled="0">
         <setting locid="options:low"/>
         <setting locid="options:medium"/>
         <setting locid="options:high"/>
      </maxOverheadZoom>
      <screenDetail labelLocID="options:screendetail" settingWidget="Screen Detail Settings Text" thumbids="optionshelp:screenDetail_thumb" upids="optionshelp:screenDetail_up" downids="optionshelp:screenDetail_down" low="0" medium="0" high="0" disabled="0" max="1">
         <setting locid="options:disable"/>
         <setting locid="options:enable"/>
      </screenDetail>
      <uiTextShadows labelLocID="options:fontshadows" settingWidget="Font Shadow Settings Text" thumbids="optionshelp:uiTextShadows_thumb" upids="optionshelp:uiTextShadows_up" downids="optionshelp:uiTextShadows_down" low="0" medium="0" high="1" disabled="0" max="1">
         <setting locid="options:disable"/>
         <setting locid="options:enable"/>
      </uiTextShadows>
      <uiTextTextures labelLocID="options:fonttexture" settingWidget="Font Texture Settings Text" thumbids="optionshelp:uiTextTextures_thumb" upids="optionshelp:uiTextTextures_up" downids="optionshelp:uiTextTextures_down" low="0" medium="0" high="1" disabled="0" max="1">
         <setting locid="options:disable"/>
         <setting locid="options:enable"/>
      </uiTextTextures>
      <shaderDetail labelLocID="options:shaderdetail" settingWidget="Shader Detail Text" thumbids="optionshelp:shaderDetail_thumb" upids="optionshelp:shaderDetail_up" downids="optionshelp:shaderDetail_down" low="0" medium="1" high="2" disabled="0">
         <setting locid="options:low"/>
         <setting locid="options:medium"/>
         <setting locid="options:high"/>
      </shaderDetail>
   </settings>
</UserSettings>
